[package]
name = "qoqo-quest"
version = "0.2.0"
authors = ["HQS Quantum Simulations <info@quantumsimulations.de>"]
license = "Apache-2.0"
edition = "2018"
categories = ["science", "simulation"]
readme = "README.md"
homepage = "https://github.com/HQSquantumsimulations/qoqo_quest"
documentation = "https://docs.rs/qoqo_quest/"
repository = "https://github.com/HQSquantumsimulations/qoqo_quest"
description = "QuEST simulator backend for qoqo quantum computing toolkit"
include = ["src*", "qoqo_quest", "LICENSE", "pyproject.toml", "README.md"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
name = "qoqo_quest"
path = "src/lib.rs"
doctest = false
crate-type = ["cdylib", "rlib"]

[dependencies.pyo3]
version = "0.15"
features = ["num-complex"]

[dependencies]
serde = { version = "1.0", features = ["derive"] }
qoqo_calculator = {version="0.5"}
qoqo_calculator_pyo3 = {version="0.6", default-features=false}
qoqo = {version="0.9", default-features=false}
roqoqo = {version="0.9"}
roqoqo-quest = {version="0.2", path="../roqoqo-quest", default-features=false}
bincode = "1.3"
serde_json = "1.0"

[dev-dependencies]
test-case = "1.2.0"

[features]
extension-module = ["pyo3/extension-module"]
default = ["extension-module"]
openmp = ["roqoqo-quest/openmp"]

[package.metadata.maturin]
requires-dist = ["numpy", "qoqo>=0.9.0", "qoqo_calculator_pyo3>=0.4.0"]
maintainer = "HQS Quantum Simulations GmbH"
maintainer-email = "info@quantumsimulations.de"
requires-python = ">=3.6"
